div.featured-article
  a(href="#").article-list__anchor
    h2.post-title Featured Post Title
    p.post-meta
      span.post-author by Author Name
      span.post-date posted
        time(datetime="") Date
    p.post-excerpt Featured Post Excerpt

div.blog-roll
  ul.article-list
    li.article-list__item
      a(href="").article-list__anchor
        h2.post-title Post Title
        p.post-meta
          span.post-author by Author Name
          span.post-date posted
            time(datetime="") Date
        p.post-excerpt Post Excerpt
