include mixin-article-item

if featured
  div.featured-article
    +articleItem(featured)

div.blog-roll
  ul.article-list
    each post in posts.filter(p => p !== featured)
      li.article-list__item
        +articleItem(post)
