include mixin-blog-categories
include mixin-blog-roll
include mixin-article-item

if featured
  div.featured-article
    +articleItem(featured)

+blogRoll(posts.filter(p => p !== featured))
+blogCategories(authors)
